<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>photoModeSetting</key>
	<array>
		<dict>
			<key>celldentifier</key>
			<string>OSMOCapturePhotoModeIdentifier</string>
			<key>buttonImageNormalC</key>
			<string>handle_single_off</string>
			<key>buttonImageSelectedC</key>
			<string>handle_single_on</string>
			<key>buttonTextC</key>
			<string>单拍</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOCapturePhotoModeIdentifier</string>
			<key>buttonImageNormalC</key>
			<string>handleMultipleOff</string>
			<key>buttonImageSelectedC</key>
			<string>handleMultipleOn</string>
			<key>buttonTextC</key>
			<string>连拍</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOCapturePhotoModeIdentifier</string>
			<key>buttonImageNormalC</key>
			<string>handle_mode_pano_off</string>
			<key>buttonImageSelectedC</key>
			<string>handle_mode_pano_on</string>
			<key>buttonTextC</key>
			<string>全景</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOCapturePhotoModeIdentifier</string>
			<key>buttonImageNormalC</key>
			<string>handleIntervalOff</string>
			<key>buttonImageSelectedC</key>
			<string>handleIntervalOn</string>
			<key>buttonTextC</key>
			<string>定时拍摄</string>
		</dict>
	</array>
	<key>videoModeSetting</key>
	<array>
		<dict>
			<key>celldentifier</key>
			<string>OSMOCaptureVideoModeIdentifier</string>
			<key>buttonImageNormalC</key>
			<string>handle_mode_video_auto_off</string>
			<key>buttonImageSelectedC</key>
			<string>handle_mode_video_auto_on</string>
			<key>buttonTextC</key>
			<string>录像</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOCaptureVideoModeIdentifier</string>
			<key>buttonImageNormalC</key>
			<string>handle_mode_video_auto_off</string>
			<key>buttonImageSelectedC</key>
			<string>handle_mode_video_auto_on</string>
			<key>buttonTextC</key>
			<string>高清录像</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOCaptureVideoModeIdentifier</string>
			<key>buttonImageNormalC</key>
			<string>handle_mode_video_slowmotion_off</string>
			<key>buttonImageSelectedC</key>
			<string>handle_mode_video_slowmotion_on</string>
			<key>buttonTextC</key>
			<string>慢动作</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOCaptureVideoModeIdentifier</string>
			<key>buttonImageNormalC</key>
			<string>handle_mode_video_slowmotion_off</string>
			<key>buttonImageSelectedC</key>
			<string>handle_mode_video_slowmotion_on</string>
			<key>buttonTextC</key>
			<string>延时摄影</string>
		</dict>
	</array>
</dict>
</plist>
