<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TutorialView_cameraSettingString</key>
	<array>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>mc_enterTravelMode_manual</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string></string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<true/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>Camera_WhiteBalance_intro</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>camera_setting_wb_value_auto</string>
			<key>imageViewRSelect</key>
			<string>camera_setting_wb_value_auto_on</string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<true/>
			<key>childTablePlistKey</key>
			<string>Camera_WhiteBalance_intro</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>handleGrid</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>handleGridSquare</string>
			<key>imageViewRSelect</key>
			<string>handleGridSquare</string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<true/>
			<key>childTablePlistKey</key>
			<string>handleGrid</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>闪光灯</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>camera_setting_wb_value_auto</string>
			<key>imageViewRSelect</key>
			<string>camera_setting_wb_value_auto_on</string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<true/>
		</dict>
	</array>
	<key>Camera_WhiteBalance_intro</key>
	<array>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>camera_setting_wb_value_auto_intro</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>camera_setting_wb_value_auto</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>camera_setting_wb_value_indoor_intro</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>camera_setting_wb_value_indoor</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>camera_setting_wb_value_neon_intro</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>camera_setting_wb_value_neon</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>camera_setting_wb_value_outdoor_intro</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>camera_setting_wb_value_outdoor</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>camera_setting_wb_value_tungsten_intro</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>camera_setting_wb_value_tungsten</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>advanced_more_whitebalance_custom_intro</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>advanced_more_whitebalance_custom</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
	</array>
	<key>handleGrid</key>
	<array>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>handleGridNone</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>handleGridNone</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>handleGridDiagonal</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>handleGridDiagonal</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>handleGridSquare</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>handleGridSquare</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>handleGridCenter</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewRNormal</key>
			<string>handleGridCenter</string>
			<key>imageViewRSelect</key>
			<string></string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
