<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cameraSetting</key>
	<array>
		<dict>
			<key>celldentifier</key>
			<string>OSMOMenuCellBaseIdentifier</string>
			<key>titleL</key>
			<string>向晨宇</string>
			<key>labelR</key>
			<string></string>
			<key>imageViewR</key>
			<string>handleSettingCamera</string>
			<key>swtichR</key>
			<false/>
			<key>showRightSideImage</key>
			<true/>
		</dict>
        <dict>
            <key>celldentifier</key>
            <string>OSMOMenuCellBaseIdentifier</string>
            <key>titleL</key>
            <string>何彬彬</string>
            <key>labelR</key>
            <string></string>
            <key>imageViewR</key>
            <string>handleSettingCamera</string>
            <key>swtichR</key>
            <false/>
            <key>showRightSideImage</key>
            <true/>
        </dict>
        <dict>
            <key>celldentifier</key>
            <string>OSMOMenuCellBaseIdentifier</string>
            <key>titleL</key>
            <string>灿灿</string>
            <key>labelR</key>
            <string></string>
            <key>imageViewR</key>
            <string>handleSettingCamera</string>
            <key>swtichR</key>
            <false/>
            <key>showRightSideImage</key>
            <true/>
        </dict>
	</array>
</dict>
</plist>
