<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>photoSingleModeSetting</key>
	<array>
		<dict>
			<key>celldentifier</key>
			<string>OSMOPhotoSingleModeIdentifier</string>
			<key>imageViewN</key>
			<string>handle_mode_singlephoto_off</string>
			<key>imageViewS</key>
			<string>handle_mode_singlephoto_on</string>
			<key>buttonTextN</key>
			<string>0</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOPhotoSingleModeIdentifier</string>
			<key>imageViewN</key>
			<string>handle_mode_singlephoto_2s_off</string>
			<key>imageViewS</key>
			<string>handle_mode_singlephoto_2s_on</string>
			<key>buttonTextN</key>
			<string>2</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOPhotoSingleModeIdentifier</string>
			<key>imageViewN</key>
			<string>handle_mode_singlephoto_5s_off</string>
			<key>imageViewS</key>
			<string>handle_mode_singlephoto_5s_on</string>
			<key>buttonTextN</key>
			<string>5</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOPhotoSingleModeIdentifier</string>
			<key>imageViewN</key>
			<string>handle_mode_singlephoto_10s_off</string>
			<key>imageViewS</key>
			<string>handle_mode_singlephoto_10s_on</string>
			<key>buttonTextN</key>
			<string>10</string>
		</dict>
<!--		<dict>-->
<!--			<key>celldentifier</key>-->
<!--			<string>OSMOPhotoSingleModeIdentifier</string>-->
<!--			<key>imageViewN</key>-->
<!--			<string>handle_mode_singlephoto_HDR_off</string>-->
<!--			<key>imageViewS</key>-->
<!--			<string>handle_mode_singlephoto_HDR_on</string>-->
<!--			<key>buttonTextN</key>-->
<!--			<string>HDR</string>-->
<!--		</dict>-->
	</array>
	<key>photoPanoModeSetting</key>
	<array>
		<dict>
			<key>celldentifier</key>
			<string>OSMOPhotoPanoModeIdentifier</string>
			<key>imageViewN</key>
			<string>handle_mode_pano_front180_off</string>
			<key>imageViewS</key>
			<string>handle_mode_pano_front180_on</string>
			<key>buttonTextN</key>
			<string>180</string>
		</dict>
		<dict>
			<key>celldentifier</key>
			<string>OSMOPhotoPanoModeIdentifier</string>
			<key>imageViewN</key>
			<string>handle_mode_pano_auto_off</string>
			<key>imageViewS</key>
			<string>handle_mode_pano_auto_on</string>
			<key>buttonTextN</key>
			<string>360</string>
		</dict>
<!--		<dict>-->
<!--			<key>celldentifier</key>-->
<!--			<string>OSMOPhotoPanoModeIdentifier</string>-->
<!--			<key>imageViewN</key>-->
<!--			<string>handle_mode_pano_ball_off</string>-->
<!--			<key>imageViewS</key>-->
<!--			<string>handle_mode_pano_ball_on</string>-->
<!--			<key>buttonTextN</key>-->
<!--			<string>720</string>-->
<!--		</dict>-->
	</array>
</dict>
</plist>
