<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColorTable</key>
	<dict>
		<key>kTableViewSeparatorColor</key>
		<string>0xde,0xdf,0xe0,1</string>
		<key>kTableViewCellBackgroundColorNormal</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewCellBackgroundColorHighlighted</key>
		<string>0xe5,0xe6,0xe7,1</string>
		<key>kTableViewCellUnreadBackgroundColorNormal</key>
		<string>0xfc,0xf2,0xc6,1</string>
		<key>kTableViewCellTextLabelTextColorNormal</key>
		<string>0,0,0,1</string>
		<key>kTableViewCellTextLabelTextColorHighlighted</key>
		<string>0,0,0,1</string>
		<key>kTableViewCellDetailTextLabelTextColorNormal</key>
		<string>0x77,0x77,0x77,1</string>
		<key>kTableViewCellDetailTextLabelTextColorHighlighted</key>
		<string>0x78,0x78,0x78,1</string>
		<key>kTableViewCellDetailTextLabelTextColorDisabled</key>
		<string>0x80,0x80,0x80,0.5</string>
		<key>kTableViewCellTimeColorNormal</key>
		<string>0x77,0x77,0x77,1</string>
		<key>kTableViewCellTimeColorHighlighted</key>
		<string>0xa6,0xa6,0xa6,1</string>
		<key>kTableViewCellVipNicknameColorNormal</key>
		<string>0xff,0x42,0x22,1</string>
		<key>kTableViewCellVipNicknameColorHighlighted</key>
		<string>0xfc,0x42,0x26,1</string>
		<key>kTableViewCellHeadCellBackgroundColor</key>
		<string>0xf7,0xf7,0xf8,1</string>
		<key>kTableViewCellHeadCellBackgroundColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewCellNormalCellBackgroundColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewCellNormalCellBackgroundColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
	</dict>
</dict>
</plist>
